
.vs/FeedChecker/v16/Server/sqlite3/db.lock
.vs/FeedChecker/v16/Server/sqlite3/storage.ide
.vs/FeedChecker/v16/.suo
.vs/FeedChecker/v16/Server/sqlite3/storage.ide-shm
.vs/FeedChecker/config/applicationhost.config
.vs/FeedChecker/v16/Server/sqlite3/storage.ide-wal
